body {
    font-family: Arial, sans-serif;        
    background-color: #F7F7ED;
}
body {
    font-family: Arial, sans-serif;        
    background-color: #F7F7ED;
}

#header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#Lancer{
    margin-top:27px;
    text-align:right;
}

#Lancer input[type="submit"] {
    width: 150px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    background-color: #AE843C;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
        
}

#Logo{
    display: flex;
    align-items: center;
    margin:20px;

}

#Searchbar {
    margin-left: 50px;
    margin-top:27px;
    display: line ;  
    text-align:right;

}

#Searchbar input[type="search"] {
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

#Panier{
    margin-right :20px;
    margin-top:27px;
    margin-left:20px;
    text-align:right;

}

#Panier button {
    width: 150px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    background-color: #AE843C;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
        
}

#Compte{
    margin-right:20x;
    margin-top:27px;
    text-align:right;
}

#Compte button {
    width: 150px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    background-color: #AE843C;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
        
}

nav {
    background-color: #1f1f1f;
    border-radius: 20px;
    color: #AE843C;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

section {
    padding: 2em;
}

footer {
    background-color: #1f1f1f;
    color: #AE843C;
    padding: 1em;
    border-radius: 20px;
    text-align: center;
}

nav a:link {
    color: #AE843C;
    text-decoration: none ;
    }
nav a:visited {
    color: #AE843C;
    }
    
nav a:hover {
    color: #ffc35b;
    }

#NomPage{
    text-decoration: bold;
}
    
    
#SlidingDrawer {
    width: 100%;
    border-radius: 20px;
    max-width: 100%;
    margin: 0 auto; /* Centre le Sliding Drawer horizontalement */
    height: 475px;
    overflow-x: auto;
    margin-top: 10px;
    overflow-y: hidden; /* Supprime la barre de défilement vertical, ajustez selon vos préférences */
    background-color: #1f1f1f; /* Couleur de fond */
    display: flex;
    flex-wrap: nowrap; /* Empêche le wrapping des éléments enfants sur plusieurs lignes */
    justify-content: flex-start;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
}
.ProduitSliding {
    margin-right: 20px; /* Espace entre les produits */
    flex: 0 0 auto; /* Les éléments ne peuvent pas se réduire ou agrandir, mais peuvent déborder */
    width: 250px; /* Largeur de chaque produit, ajustez selon vos préférences */
    padding: 15px;
    background-color: #F7F7ED; /* Couleur de fond des produits */
    border-radius: 20px; /* Coins arrondis pour un aspect plus doux */
    transition: transform 0.3s ease-in-out; /* Ajoute une transition au survol */
}

.ProduitSliding button{
    background-color: #AE843C;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}



.ProduitSliding:hover {
    transform: scale(1.05); /* Effet de zoom au survol */
}

.ProduitSliding img {
    width: 100%; /* Remplit la largeur du conteneur parent */
    height: auto; /* Maintient le ratio d'aspect de l'image */
    border-radius: 5px 5px 0 0; /* Coins arrondis uniquement en haut */
}

.ProduitSliding p {
    margin: 10px 0;
    color: #1f1f1f; /* Couleur du texte */
}

/* Ajoutez d'autres styles au besoin */




#MainContent {
    padding: 20px;
    margin-top: 50px; /* Pour éviter que le contenu principal soit caché sous le header */
}



.MainRock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajustez selon vos préférences */
}

.product {
    width: 30%; /* Ajustez la largeur selon vos besoins pour laisser de l'espace entre les produits */
    margin-bottom: 20px; /* Ajoute de l'espace entre les lignes de produits */
    
}


/* Style du titre principal */
#MainContent h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

/* Style de la bordure sous le titre */
#MainContent h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 50px;
    background-color: #918b8b;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}


/* Style de la section MainRock */
.MainRock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Style des produits */
.product {
    width: 30%;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

/* Effet d'ombre au survol */
.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style des images de produits */
.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
}

/* Style des informations de produits */
.product p {
    padding: 10px;
    margin: 0;
}

/* Style du texte de chaque produit */
.product p:first-child {
    font-weight: bold;
}

/* Style du bouton "Ajouter au panier" */
.product button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(75, 56, 7);
    color: white;
    border: none;
    border-top: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Changement de couleur au survol du bouton */
.product button:hover {
    background-color: rgb(42, 3, 3)
}

/* Style de la section MainRock */
.MainMetal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Style de la section MainPOP */
.MainPOP {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}





/*  Page Panier   */


#DescriptionProduitPrincipal p {
    margin: 0; /* Supprimer la marge par défaut du paragraphe */
}

#ProduitPanier {
    display: flex;
    flex-direction: row; /* Les éléments sont alignés horizontalement */
    align-items: center; /* Centrer les éléments verticalement */
}

#ImageProduitPanier {
    margin-right: 20px; /* Ajouter de l'espace entre l'image et la description */
}

#ImageProduitPanier img {
    width: 70%; /* Remplir la largeur de son conteneur parent */
}

#BoutonSupprimerPanier{
    margin-left: auto;
}
#BoutonSupprimerPanier button{
    background-color: #AE843C;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    text-align: right;
}

#PrixTotalPanier{
    text-align: right;
    margin-bottom:10px;
    padding-right: 100px;
}


#PrixTotalPanier button   {
    background-color: #AE843C;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
        
}


/* Page Produit */

#EnsembleInfoProduit {
    display: flex;
    flex-direction: row; /* Les éléments sont alignés en colonne */
    margin: 20px;
}

#ImageProduitPrincipal img {
    flex: 1;
}

#InfoBasiqueProduit {
    display: flex;
    flex-direction: column; /* Les infos basiques et le bouton sont alignés en colonne */
    flex: 1; /* Les infos basiques et le bouton partagent l'espace disponible */
    margin-left: 20px; /* Marge à gauche des infos basiques */
}

#BoutonAjoutProduitPanier {
    margin-top: 20px; /* Marge entre les infos basiques et le bouton */
}

#BoutonAjoutProduitPanier button {
    flex:1;
    padding: 10px; /* Espacement interne */
    background-color: #AE843C;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.4s;
}

#DescriptionProduit {
    flex:1;
    margin-top: 20px; /* Marge entre le bouton et la description */
}

#DescriptionProduit p {
    margin: 0; /* Supprime la marge par défaut des paragraphes dans la description */
}
